.DS_Store
*.class
stash/
target/
.idea/
.env
.env.*
# Virtual Environments (Where your deps live)
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints and caches
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
__pycache__/
*.pyc


# --- Python / uv ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.python-version
uv.lock
.langgraph_api/

# mobile 

# Built artifacts
*.apk
*.aar
*.ap_
*.der
*.class
**/build/
build/

# Android Studio local configs
.gradle/
local.properties
.idea/caches/
.idea/modules.xml
.idea/workspace.xml
.idea/nav/
.idea/assetWizardSettings.xml
.idea/modules/
*.iml

# macOS files (Crucial for your M1 Mac)
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Log files
*.log