.DS_Store
*.class
stash/
target/
.idea/
.env
.env.*
# Virtual Environments (Where your deps live)
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints and caches
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
__pycache__/
*.pyc


# --- Python / uv ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.python-version
uv.lock
.langgraph_api/
